<div class="container w-75 p-3">

    <form>
    <div class="form-group">
        <label for="postTitle">Title of Post:</label>
        <input type="text" class="form-control" id="postTitle" placeholder="title goes here..." required>
    </div>
    
        <br>
    <div class="form-group">
        <label for="description">Post Description:</label>
        <textarea class="form-control" id="description" rows="8" required></textarea>
    </div>
        <br>
    <div>
        <button type="submit" class="btn btn-primary go">POST</button>
    </div>
    </form>

    

</div>

<script src="/js/dashboard.js"></script>