<div class="container">
        <h2>Welcome, 
            {{#if posts2.login}}
                {{posts2.user}}
            {{else}}
                Guest
            {{/if}}
        </h2>
</div>
{{> postsDisplay p=posts2.post }}